@font-face {
  font-family: 'Avenir';
  src: url("../css/fonts/AvenirNextLTPro-Bold.woff") format("woff"), url("../css/fonts/AvenirNextLTPro-Bold.woff2") format("woff2");
  font-weight: 700; }
@font-face {
  font-family: 'Avenir';
  src: url("../css/fonts/AvenirNextLTPro-Regular.woff") format("woff"), url("../css/fonts/AvenirNextLTPro-Regular.woff2") format("woff2");
  font-weight: 400; }
@font-face {
  font-family: 'Avenir';
  src: url("../css/fonts/AvenirNextLTPro-Light.woff") format("woff"), url("../css/fonts/AvenirNextLTPro-Light.woff2") format("woff2");
  font-weight: 300; }
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  margin: 0; }

h1 {
  font-size: 50.06411536px;
  line-height: calc(.75 * $font-size-xxl); }

p,
a,
span {
  font-family: "Avenir", sans-serif;
  font-size: 16px;
  margin: 0;
  margin-bottom: .25em; }

* {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-property: background-color, border-color, color, opacity, text-shadow, -webkit-box-shadow, -webkit-transform;
  transition-property: background-color, border-color, color, opacity, text-shadow, -webkit-box-shadow, -webkit-transform;
  transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, transform;
  transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, transform, -webkit-box-shadow, -webkit-transform;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

@media print {
  * {
    background-color: transparent !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    color: #000 !important;
    text-shadow: none !important; }

  @page {
    margin: 2cm; } }
body {
  font-family: "Avenir", sans-serif;
  margin: 0;
  padding: 0;
  word-wrap: break-word; }
  body.no-scroll {
    overflow-y: hidden; }

main {
  overflow-x: hidden; }

.l-constrain {
  max-width: 1400px;
  margin: auto;
  padding: 0 1em; }
  @media only screen and (min-width: 700px) {
    .l-constrain {
      padding: 0 2em; } }

.l-header {
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: none;
  padding: 1em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  z-index: 99; }
  @media only screen and (min-width: 700px) {
    .l-header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

.l-header__wrapper {
  display: none; }
  @media only screen and (min-width: 700px) {
    .l-header__wrapper {
      display: block; } }

a {
  text-decoration: none; }
  a:focus, a:hover {
    text-decoration: none; }

.is-sticky {
  position: fixed; }

.menu {
  display: block;
  list-style: none;
  margin: 0; }

.menu--main,
.menu--utility {
  padding: 0 1em; }
  .menu--main .menu__item,
  .menu--utility .menu__item {
    display: inline-block;
    margin-right: 1em;
    padding-right: 3.25em;
    position: relative; }
  .menu--main .menu__link,
  .menu--utility .menu__link {
    color: #111f22;
    font-size: 16px;
    text-decoration: none; }
    .menu--main .menu__link:after,
    .menu--utility .menu__link:after {
      content: '';
      background-color: #111f22;
      height: 1px;
      position: absolute;
      right: 0;
      width: 50px;
      top: 12px;
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out; }
    .menu--main .menu__link:hover:after, .menu--main .menu__link:focus:after,
    .menu--utility .menu__link:hover:after,
    .menu--utility .menu__link:focus:after {
      width: 100%; }

.menu--main {
  left: 0; }

.menu--utility {
  right: 0; }

.menu--social {
  padding: 0; }
  .menu--social .menu__item {
    display: inline-block;
    overflow: hidden;
    padding-right: 1em; }
  .menu--social .menu__link {
    padding: 0 2em;
    display: block;
    color: transparent;
    height: 32px;
    text-shadow: none;
    width: 32px;
    padding: 0 1em;
    position: relative; }
  .menu--social .menu__link {
    text-transform: uppercase; }

.menu__link--github:before {
  content: '';
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url(../images/github.svg);
  background-image: linear-gradient(transparent, transparent), url(../images/github.svg);
  background-repeat: no-repeat;
  background-size: cover;
  color: transparent;
  height: 32px;
  left: 0;
  opacity: 1;
  position: absolute;
  text-shadow: none;
  top: 0;
  width: 32px;
  -webkit-transition: opacity .2s ease-in;
  transition: opacity .2s ease-in; }
.menu__link--github:after {
  content: '';
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url(../images/github-hover.svg);
  background-image: linear-gradient(transparent, transparent), url(../images/github-hover.svg);
  background-repeat: no-repeat;
  background-size: cover;
  color: transparent;
  height: 32px;
  left: 0;
  opacity: 0;
  position: absolute;
  text-shadow: none;
  top: 0;
  -webkit-transition: opacity .2s ease-in;
  transition: opacity .2s ease-in;
  width: 32px; }
.menu__link--github:hover:before, .menu__link--github:focus:before {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url(../images/github.svg);
  background-image: linear-gradient(transparent, transparent), url(../images/github.svg);
  opacity: 0; }
.menu__link--github:hover:after, .menu__link--github:focus:after {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url(../images/github-hover.svg);
  background-image: linear-gradient(transparent, transparent), url(../images/github-hover.svg);
  opacity: 1; }

.menu__link--twitter:before {
  content: '';
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url(../images/twitter.svg);
  background-image: linear-gradient(transparent, transparent), url(../images/twitter.svg);
  background-repeat: no-repeat;
  background-size: cover;
  color: transparent;
  height: 32px;
  left: 0;
  opacity: 1;
  position: absolute;
  text-shadow: none;
  top: 0;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  width: 32px; }
.menu__link--twitter:after {
  content: '';
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url(../images/twitter-hover.svg);
  background-image: linear-gradient(transparent, transparent), url(../images/twitter-hover.svg);
  background-repeat: no-repeat;
  background-size: cover;
  color: transparent;
  height: 32px;
  left: 0;
  opacity: 0;
  position: absolute;
  text-shadow: none;
  top: 0;
  -webkit-transition: opacity .2s ease-in;
  transition: opacity .2s ease-in;
  width: 32px; }
.menu__link--twitter:hover:before, .menu__link--twitter:focus:before {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url(../images/twitter.svg);
  background-image: linear-gradient(transparent, transparent), url(../images/twitter.svg);
  opacity: 0; }
.menu__link--twitter:hover:after, .menu__link--twitter:focus:after {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url(../images/twitter-hover.svg);
  background-image: linear-gradient(transparent, transparent), url(../images/twitter-hover.svg);
  opacity: 1; }

.menu__link--instagram:before {
  content: '';
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url(../images/instagram.svg);
  background-image: linear-gradient(transparent, transparent), url(../images/instagram.svg);
  background-repeat: no-repeat;
  background-size: cover;
  color: transparent;
  height: 32px;
  left: 0;
  opacity: 1;
  position: absolute;
  text-shadow: none;
  top: 0;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  width: 32px; }
.menu__link--instagram:after {
  content: '';
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url(../images/instagram-hover.svg);
  background-image: linear-gradient(transparent, transparent), url(../images/instagram-hover.svg);
  background-repeat: no-repeat;
  background-size: cover;
  color: transparent;
  height: 32px;
  left: 0;
  opacity: 0;
  position: absolute;
  text-shadow: none;
  top: 0;
  -webkit-transition: opacity .2s ease-in;
  transition: opacity .2s ease-in;
  width: 32px; }
.menu__link--instagram:hover:before, .menu__link--instagram:focus:before {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url(../images/instagram.svg);
  background-image: linear-gradient(transparent, transparent), url(../images/instagram.svg);
  opacity: 0; }
.menu__link--instagram:hover:after, .menu__link--instagram:focus:after {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url(../images/instagram-hover.svg);
  background-image: linear-gradient(transparent, transparent), url(../images/instagram-hover.svg);
  opacity: 1; }

.menu__link--linkedin:before {
  content: '';
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url(../images/linkedin.svg);
  background-image: linear-gradient(transparent, transparent), url(../images/linkedin.svg);
  background-repeat: no-repeat;
  background-size: cover;
  color: transparent;
  height: 32px;
  text-shadow: none;
  width: 32px;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: opacity .2s ease-in;
  transition: opacity .2s ease-in; }
.menu__link--linkedin:after {
  content: '';
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url(../images/linkedin-hover.svg);
  background-image: linear-gradient(transparent, transparent), url(../images/linkedin-hover.svg);
  background-repeat: no-repeat;
  background-size: cover;
  color: transparent;
  height: 32px;
  left: 0;
  opacity: 0;
  position: absolute;
  text-shadow: none;
  top: 0;
  -webkit-transition: opacity .2s ease-in;
  transition: opacity .2s ease-in;
  width: 32px; }
.menu__link--linkedin:hover:before, .menu__link--linkedin:focus:before {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url(../images/linkedin.svg);
  background-image: linear-gradient(transparent, transparent), url(../images/linkedin.svg);
  opacity: 0; }
.menu__link--linkedin:hover:after, .menu__link--linkedin:focus:after {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url(../images/linkedin-hover.svg);
  background-image: linear-gradient(transparent, transparent), url(../images/linkedin-hover.svg);
  opacity: 1; }

.menu__link--email:before {
  content: '';
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url(../images/email.svg);
  background-image: linear-gradient(transparent, transparent), url(../images/email.svg);
  background-repeat: no-repeat;
  background-size: cover;
  color: transparent;
  height: 32px;
  left: 0;
  opacity: 1;
  position: absolute;
  text-shadow: none;
  top: 0;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  width: 32px; }
.menu__link--email:after {
  content: '';
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url(../images/email-hover.svg);
  background-image: linear-gradient(transparent, transparent), url(../images/email-hover.svg);
  background-repeat: no-repeat;
  background-size: cover;
  color: transparent;
  height: 32px;
  left: 0;
  opacity: 0;
  position: absolute;
  text-shadow: none;
  top: 0;
  -webkit-transition: opacity .2s ease-in;
  transition: opacity .2s ease-in;
  width: 32px; }
.menu__link--email:hover:before, .menu__link--email:focus:before {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url(../images/email.svg);
  background-image: linear-gradient(transparent, transparent), url(../images/email.svg);
  opacity: 0; }
.menu__link--email:hover:after, .menu__link--email:focus:after {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url(../images/email-hover.svg);
  background-image: linear-gradient(transparent, transparent), url(../images/email-hover.svg);
  opacity: 1; }

.menu--mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em .5em; }
  @media only screen and (min-width: 700px) {
    .menu--mobile {
      display: none; } }
  .menu--mobile .menu--main {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 8; }
    .menu--mobile .menu--main .menu__item {
      margin: 1em 0; }
  .menu--mobile .menu__wrapper {
    display: none; }

.menu__icon {
  cursor: pointer; }

.menu__icon--close {
  cursor: pointer;
  display: block;
  margin-top: 4em; }

.section {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.logo {
  max-width: 150px; }

.logo__link {
  color: #111f22;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none; }
  .logo__link:hover {
    color: #6B4D57; }

.intro {
  padding: 2em 1em;
  position: relative; }
  @media only screen and (min-width: 700px) {
    .intro {
      padding: 10em 0; } }

@media only screen and (min-width: 700px) {
  .intro__title,
  .intro__subtitle {
    display: inline-block; } }

@media only screen and (min-width: 700px) {
  .intro__subtitle {
    border-left: solid 1px #111f22;
    margin-left: .75em;
    padding-left: .75em; } }

.intro__text,
.contact__text {
  margin: 2em 0; }
  @media only screen and (min-width: 700px) {
    .intro__text,
    .contact__text {
      max-width: 50%; } }

.work__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.work__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  position: relative; }
  .work__item:after {
    content: '';
    background-color: rgba(107, 77, 87, 0.9);
    height: 100%;
    left: 0;
    opacity: 1;
    position: absolute;
    top: 0;
    width: 100%; }

.work__link {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 300px;
  margin: 0;
  overflow: hidden;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out; }
  @media only screen and (min-width: 700px) {
    .work__link {
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
      height: 600px; } }
  .work__link:hover .work__item {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  .work__link:hover .work__title {
    display: block; }
  .work__link:nth-child(2) .work__item:after, .work__link:nth-child(5) .work__item:after {
    background-color: rgba(17, 31, 34, 0.9); }
  .work__link:nth-child(3) .work__item:after {
    background-color: rgba(137, 106, 103, 0.9); }
  .work__link:nth-child(4) .work__item:after, .work__link:nth-child(8) .work__item:after {
    background-color: rgba(221, 200, 196, 0.9); }
  .work__link:nth-child(6) .work__item:after {
    background-color: rgba(107, 77, 87, 0.9); }

.work__title {
  color: #fff;
  display: none;
  font-weight: 700;
  letter-spacing: 6px;
  position: relative;
  text-transform: uppercase;
  z-index: 2; }

.contact {
  background-color: #111f22;
  padding: 5em 0; }

.contact__title {
  color: #fff; }

.contact__text {
  color: #fff; }

.resume {
  background-color: #DDC8C4;
  color: #111f22;
  padding: 0 1em 2em 1em; }
  @media only screen and (min-width: 700px) {
    .resume {
      padding: 10em 0 3em; } }

.resume__inner {
  display: block;
  padding: 4em 0; }
  @media only screen and (min-width: 700px) {
    .resume__inner {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      max-width: 900px; } }

.resume__left,
.resume__right {
  margin: 0 .5em;
  padding: 0 .5em; }
  @media only screen and (min-width: 700px) {
    .resume__left,
    .resume__right {
      -ms-flex-preferred-size: 60%;
          flex-basis: 60%;
      padding: 0 1em; } }

.resume__left {
  position: relative; }

.resume__item {
  margin: 0 .5em;
  padding: 2em 0; }
  .resume__item h3 {
    font-family: "Avenir", sans-serif;
    font-size: 16px; }
  .resume__item span {
    color: #6B4D57;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px; }
  .resume__item p {
    font-size: 16px;
    font-weight: 300;
    line-height: 21.28px;
    margin-top: 1em; }

.resume__item--edu span {
  color: #EFF9F0;
  text-transform: none; }
.resume__item--edu p {
  margin-top: 0; }

.resume__text {
  display: inline-block;
  color: #DDC8C4;
  font-size: 88.5584136603px;
  position: relative; }
  @media only screen and (min-width: 700px) {
    .resume__text {
      font-size: 117.7826901682px; } }
  @media only screen and (min-width: 900px) {
    .resume__text {
      font-size: 156.6509779237px; } }
  @media only screen and (min-width: 1100px) {
    .resume__text {
      font-size: 208.3458006385px; } }

.resume__eyebrow {
  color: #fff;
  display: inline-block;
  font-size: 37.642192px;
  position: absolute;
  right: 0;
  top: 0; }
  @media only screen and (min-width: 700px) {
    .resume__eyebrow {
      font-size: 50.06411536px; } }
  @media only screen and (min-width: 900px) {
    .resume__eyebrow {
      font-size: 66.5852734288px; } }
  @media only screen and (min-width: 1100px) {
    .resume__eyebrow {
      font-size: 88.5584136603px; } }

.resume__download--link {
  color: #111f22;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  padding-right: 60px;
  position: relative;
  text-decoration: none; }
  .resume__download--link:after {
    content: '';
    background-color: #111f22;
    height: 1px;
    position: absolute;
    right: 0;
    width: 50px;
    top: 12px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }
  .resume__download--link:hover:after, .resume__download--link:focus:after {
    width: 100%; }

.resume__list {
  font-family: "Avenir", sans-serif;
  font-size: 28.3024px;
  list-style: none;
  margin: 0;
  padding: 0; }
  .resume__list li {
    padding: .25em 0 .25em 1em;
    position: relative; }
    .resume__list li:before {
      content: '';
      background-color: #896A67;
      height: 10px;
      left: 0em;
      position: absolute;
      top: 18px;
      width: 10px; }

.section-contact {
  background-color: #DDC8C4;
  padding: 2em 1em; }
  @media only screen and (min-width: 700px) {
    .section-contact {
      padding: 5em 0; } }

.section-contact__title {
  display: inline-block;
  color: #111f22;
  font-size: 88.5584136603px;
  line-height: 50.06411536px;
  position: relative; }
  @media only screen and (min-width: 700px) {
    .section-contact__title {
      font-size: 117.7826901682px;
      line-height: 117.7826901682px; } }
  @media only screen and (min-width: 900px) {
    .section-contact__title {
      font-size: 156.6509779237px; } }
  @media only screen and (min-width: 1100px) {
    .section-contact__title {
      font-size: 208.3458006385px; } }

.section-contact__inner {
  padding: 2em 1em; }
  @media only screen and (min-width: 700px) {
    .section-contact__inner {
      padding: 2em 5em; } }
  .section-contact__inner p {
    font-weight: 300;
    margin: 2em 0;
    width: 320px; }

.section-contact__left {
  position: relative;
  padding: 0 2em; }

.lines-to-bottom {
  background-color: #EFF9F0;
  display: block;
  height: 0;
  right: 0;
  position: absolute;
  top: 0;
  width: 1px; }
  .lines-to-bottom:after {
    content: '';
    background-color: #EFF9F0;
    display: block;
    height: 10px;
    right: -5px;
    top: 0;
    position: absolute;
    width: 10px; }

.lines-to-bottom.contact {
  background-color: #111f22;
  top: 0;
  display: block;
  height: 0;
  left: 0;
  position: absolute;
  width: 1px; }
  .lines-to-bottom.contact:after {
    content: '';
    background-color: #111f22;
    bottom: 0;
    display: block;
    height: 10px;
    right: -5px;
    position: absolute;
    width: 10px; }

.project__inner {
  margin: 4em auto 2em;
  position: relative; }
  @media only screen and (min-width: 700px) {
    .project__inner {
      margin: 2em auto 0; } }
  .project__inner:after {
    content: '';
    background-color: #DDC8C4;
    bottom: 0;
    display: block;
    height: 90%;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: -1; }

.project-img {
  margin: 0 auto;
  max-width: 900px;
  padding: 3em 0; }
  .project-img img {
    margin: 45px 0;
    max-width: 100%; }

.project__link--link {
  color: #111f22;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  padding-right: 60px;
  position: relative;
  text-decoration: none; }
  .project__link--link:after {
    content: '';
    background-color: #111f22;
    height: 1px;
    position: absolute;
    right: 0;
    width: 50px;
    top: 12px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }
  .project__link--link:hover:after, .project__link--link:focus:after {
    width: 100%; }

.next--project {
  text-align: center; }

@media only screen and (min-width: 700px) {
  .slide-left {
    -webkit-animation: slideIn;
            animation: slideIn;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-timing-function: cubic-bezier(0.375, 0.82, 0.165, 1);
            animation-timing-function: cubic-bezier(0.375, 0.82, 0.165, 1);
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    opacity: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); } }

@-webkit-keyframes slideIn {
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes slideIn {
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }
.slide-right {
  -webkit-animation: slideIn;
          animation: slideIn;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  opacity: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%); }

.line {
  -webkit-animation: lineUp;
          animation: lineUp;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  display: none; }
  @media only screen and (min-width: 700px) {
    .line {
      display: block; } }

@keyframes slideIn {
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }
@-webkit-keyframes lineUp {
  to {
    height: 100%; } }
@keyframes lineUp {
  to {
    height: 100%; } }
.slide-right--delay {
  -webkit-animation-delay: .5s;
          animation-delay: .5s; }

[data-aos="draw"] {
  height: 0;
  -webkit-transition-property: height;
  transition-property: height; }
  [data-aos="draw"].aos-animate {
    height: 100%; }
