@font-face {
  font-family: 'Avenir';
  src: url("../css/fonts/AvenirNextLTPro-Bold.woff") format("woff"), url("../css/fonts/AvenirNextLTPro-Bold.woff2") format("woff2");
  font-weight: 700; }
@font-face {
  font-family: 'Avenir';
  src: url("../css/fonts/AvenirNextLTPro-Regular.woff") format("woff"), url("../css/fonts/AvenirNextLTPro-Regular.woff2") format("woff2");
  font-weight: 400; }
@font-face {
  font-family: 'Avenir';
  src: url("../css/fonts/AvenirNextLTPro-Light.woff") format("woff"), url("../css/fonts/AvenirNextLTPro-Light.woff2") format("woff2");
  font-weight: 300; }
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  margin: 0; }

h1 {
  font-size: 50.06411536px;
  line-height: calc(.75 * $font-size-xxl); }

a {
  margin: 0;
  text-decoration: none; }

p {
  font-family: "Avenir", sans-serif;
  line-height: 1.5; }

* {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-property: background-color, border-color, color, opacity, text-shadow, -webkit-box-shadow, -webkit-transform;
  transition-property: background-color, border-color, color, opacity, text-shadow, -webkit-box-shadow, -webkit-transform;
  transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, transform;
  transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, transform, -webkit-box-shadow, -webkit-transform;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

@media print {
  * {
    background-color: transparent !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    color: #000 !important;
    text-shadow: none !important; }

  @page {
    margin: 2cm; } }
body {
  background-color: #0d1f2d;
  font-family: "Avenir", sans-serif;
  margin: 0;
  padding: 0;
  word-wrap: break-word; }
  body.no-scroll {
    overflow-y: hidden; }

main {
  overflow-x: hidden; }

.l-constrain {
  margin: auto;
  max-width: 1500px; }

.l-constrain {
  max-width: 1200px;
  padding: 2em 1em; }
  @media only screen and (min-width: 700px) {
    .l-constrain {
      padding: 4em 3em; } }

p {
  color: #0d1f2d;
  line-height: 1.1;
  letter-spacing: 4px;
  margin: 0;
  text-shadow: -1px -1px 0 #eff9f0,   1px -1px 0 #eff9f0, -1px 1px 0 #eff9f0, 1px 1px 0 #eff9f0;
  font-size: 50.06411536px;
  font-weight: 700; }
  @media only screen and (min-width: 700px) {
    p {
      font-size: 66.5852734288px;
      letter-spacing: 0; } }
  @media only screen and (min-width: 1000px) {
    p {
      font-size: 88.5584136603px; } }

a {
  color: #0d1f2d;
  font-family: "Avenir", sans-serif;
  line-height: 1.1;
  text-shadow: -1px -1px 0 #896a67,   1px -1px 0 #896a67, -1px 1px 0 #896a67, 1px 1px 0 #896a67;
  font-size: 50.06411536px;
  font-weight: 700; }
  @media only screen and (min-width: 700px) {
    a {
      font-size: 66.5852734288px; } }
  @media only screen and (min-width: 1000px) {
    a {
      font-size: 88.5584136603px; } }
  a:hover {
    color: #896a67; }

span {
  color: #ddc8c4;
  text-shadow: -1px -1px 0 #ddc8c4,   1px -1px 0 #ddc8c4, -1px 1px 0 #ddc8c4, 1px 1px 0 #ddc8c4;
  font-style: normal; }

@media only screen and (min-width: 700px) {
  .slide-left {
    -webkit-animation: slideIn;
            animation: slideIn;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-timing-function: cubic-bezier(0.375, 0.82, 0.165, 1);
            animation-timing-function: cubic-bezier(0.375, 0.82, 0.165, 1);
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    opacity: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); } }

@-webkit-keyframes slideIn {
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes slideIn {
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }
.slide-right {
  -webkit-animation: slideIn;
          animation: slideIn;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  opacity: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%); }

.line {
  -webkit-animation: lineUp;
          animation: lineUp;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  display: none; }
  @media only screen and (min-width: 700px) {
    .line {
      display: block; } }

@keyframes slideIn {
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }
@-webkit-keyframes lineUp {
  to {
    height: 100%; } }
@keyframes lineUp {
  to {
    height: 100%; } }
.slide-right--delay {
  -webkit-animation-delay: .5s;
          animation-delay: .5s; }

[data-aos="draw"] {
  height: 0;
  -webkit-transition-property: height;
  transition-property: height; }
  [data-aos="draw"].aos-animate {
    height: 100%; }

.menu--social {
  list-style: none;
  padding: 0; }
  .menu--social > li {
    display: inline; }
