* {
  transition-duration: 0.2s;
  transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, transform;
  transition-timing-function: linear;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@media print {
  * {
    background-color: transparent !important;
    box-shadow: none !important;
    color: #000 !important;
    text-shadow: none !important;
  }

  @page {
    margin: 2cm;
  }
}

body {
  font-family: $font-family-base;
  margin: 0;
  padding: 0;
  word-wrap: break-word;

  &.no-scroll {
    overflow-y: hidden;
  }
}

main {
  overflow-x: hidden;
}

.l-constrain {
  max-width: 1400px;
  margin: auto;

  @media only screen and (min-width: 700px) {
    padding: 0 2em;
  }
}

.l-header {
  background-color: #fff;
  box-sizing: border-box;
  display: none;
  padding: 1em;
  justify-content: space-between;
  width: 100%;
  z-index: 99;

  @media only screen and (min-width: 700px) {
    display: flex;
  }
}

a {
  text-decoration: none;

  &:focus,
  &:hover {
    text-decoration: none;
  }
}

.is-sticky {
  position: fixed;

  .l-header {
    
  }
}