// section contact
.section-contact {
  background-color: $pink-light;
  padding: 2em 1em;

  @media only screen and (min-width: 700px) {
    padding: 5em 0;
  }
}

.section-contact__title {
  display: inline-block;
  color: $blue;
  font-size: ms(6);
  line-height: ms(4);
  position: relative;
  
  @media only screen and (min-width: 700px) {
    font-size: ms(7);
    line-height: ms(7);
  }

  @media only screen and (min-width: 900px) {
    font-size: ms(8);
  }

  @media only screen and (min-width: 1100px) {
    font-size: ms(9);
  }
}

.section-contact__inner {
  padding: 2em 1em;

  @media only screen and (min-width: 700px) {
    padding: 2em 5em;
  }

  p {
    font-weight: 300;
    margin: 2em 0;
    width: 320px;
  }
}

.section-contact__left {
  position: relative;
  padding: 0 2em;
}

.lines-to-bottom {
  background-color: $offwhite;
  display: block;
  height: 0;
  right: 0;
  position: absolute;
  top: 0;
  width: 1px;

  &:after {
    content: '';
    background-color: $offwhite;
    display: block;
    height: 10px;
    right: -5px;
    top: 0;
    position: absolute;
    width: 10px;
  }
}

.lines-to-bottom.contact {
  background-color: $blue;
  top: 0;
  display: block;
  height: 0;
  left: 0;
  position: absolute;
  width: 1px;

  &:after {
    content: '';
    background-color: $blue;
    bottom: 0;
    display: block;
    height: 10px;
    right: -5px;
    position: absolute;
    width: 10px;
  }
}