@import '../node_modules/modularscale-sass/stylesheets/modularscale/';

@font-face {
  font-family: 'Avenir';
  src:url('../css/fonts/AvenirNextLTPro-Bold.woff') format('woff'),
      url('../css/fonts/AvenirNextLTPro-Bold.woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Avenir';
  src:url('../css/fonts/AvenirNextLTPro-Regular.woff') format('woff'),
      url('../css/fonts/AvenirNextLTPro-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Avenir';
  src:url('../css/fonts/AvenirNextLTPro-Light.woff') format('woff'),
      url('../css/fonts/AvenirNextLTPro-Light.woff2') format('woff2');
  font-weight: 300;
}

$blue: #111f22;
$pink-light: #DDC8C4;
$pink-dark: #6B4D57;
$copper: #896A67;
$offwhite: #EFF9F0; 

// font families
$font-family-base: 'Avenir', sans-serif;

// font sizes
$modularscale: (
  base: 16px,
  ratio: 1.33
);

$font-size-sm: ms(-1);
$base-font-size: ms(0);
$font-size-md: ms(1);
$font-size-lg: ms(2);
$font-size-xl: ms(3);
$font-size-xxl: ms(4);

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  margin: 0;
}

h1 {
  font-size: ms(4);
  line-height: calc(.75 * $font-size-xxl);
}

p,
a,
span {
  font-family: $font-family-base;
  font-size: ms(0);
  margin: 0;
  margin-bottom: .25em;
}
