h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  margin: 0; }

h1 {
  font-size: 42.56px;
  line-height: calc(.75 * $font-size-xxl);
  text-transform: uppercase; }
  @media only screen and (min-width: 700px) {
    h1 {
      font-size: 75.284384px;
      letter-spacing: 20px; } }
  h1 span {
    font-size: 42.56px;
    position: relative;
    text-transform: uppercase; }
    @media only screen and (min-width: 700px) {
      h1 span {
        font-size: 75.284384px;
        letter-spacing: 20px; } }
    h1 span:after {
      content: '';
      background-color: #ee3224;
      bottom: 10px;
      height: 3px;
      left: 0;
      position: absolute;
      -webkit-transition: all 3s ease-in-out;
      transition: all 3s ease-in-out;
      width: 0; }

p,
a,
span {
  font-family: "Spectral", sans-serif;
  font-size: 32px;
  margin: 0;
  margin-bottom: .25em; }

* {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-property: background-color, border-color, color, opacity, text-shadow, -webkit-box-shadow, -webkit-transform;
  transition-property: background-color, border-color, color, opacity, text-shadow, -webkit-box-shadow, -webkit-transform;
  transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, transform;
  transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, transform, -webkit-box-shadow, -webkit-transform;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

@media print {
  * {
    background-color: transparent !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    color: #000 !important;
    text-shadow: none !important; }

  @page {
    margin: 2cm; } }
body {
  font-family: "Spectral", sans-serif;
  margin: 0;
  padding: 0;
  word-wrap: break-word; }
  body.no-scroll {
    overflow-y: hidden; }

main {
  overflow-x: hidden; }

section {
  position: relative; }
  @media only screen and (min-width: 700px) {
    section {
      height: 100vh; } }

.l-flex {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 0 1em; }
  @media only screen and (min-width: 700px) {
    .l-flex {
      padding: 0 2em; } }

.l-flex--two {
  max-width: 1400px; }

a {
  text-decoration: none; }
  a:focus, a:hover {
    text-decoration: none; }

.white {
  color: #fff; }

.red {
  color: #ee3224; }

.bg-red {
  background-color: #ee3224; }

.bg-blue {
  background-color: #005daa; }

.bg-blue-overlay {
  background-color: rgba(0, 93, 170, 0.8);
  position: relative; }
  .bg-blue-overlay:before {
    content: '';
    background-image: url("/images/georgia-photo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1; }
  .bg-blue-overlay:after {
    content: '';
    background-image: url("/images/overlay.svg");
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }

.bg-red-overlay {
  background-color: rgba(240, 0, 19, 0.8);
  position: relative; }
  .bg-red-overlay:before {
    content: '';
    background-image: url("/images/kansas-capitol.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1; }
  .bg-red-overlay:after {
    content: '';
    background-image: url("/images/overlay.svg");
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }

.text-medium {
  font-size: 42.56px;
  position: relative;
  z-index: 2; }
  .text-medium .text-accent {
    font-size: 42.56px; }

.scroll-icon {
  bottom: 60px;
  position: absolute; }

.text-accent {
  font-family: "Roboto", sans-serif;
  position: relative; }
  .text-accent:after {
    content: '';
    background-color: #ee3224;
    bottom: -5px;
    height: 3px;
    left: 0;
    position: absolute;
    -webkit-transition: all 3s ease-in-out;
    transition: all 3s ease-in-out;
    width: 0; }

.text-accent--white:after {
  background-color: #fff; }

.map-svg {
  margin-right: 3em; }
  .map-svg #MT,
  .map-svg #AZ,
  .map-svg #NV,
  .map-svg #CA,
  .map-svg #ID,
  .map-svg #WY,
  .map-svg #MN,
  .map-svg #ND,
  .map-svg #IA,
  .map-svg #CO,
  .map-svg #IL,
  .map-svg #OH,
  .map-svg #IN,
  .map-svg #OK,
  .map-svg #KS,
  .map-svg #MS,
  .map-svg #GA,
  .map-svg #AR,
  .map-svg #NC,
  .map-svg #VA,
  .map-svg #WV,
  .map-svg #MD,
  .map-svg #PA,
  .map-svg #NY,
  .map-svg #CT,
  .map-svg #MA,
  .map-svg #NH,
  .map-svg #ME,
  .map-svg #NE,
  .map-svg #CA,
  .map-svg #TX {
    fill: #ee3224; }

.text-accent--red:after {
  background-color: #ee3224; }

.text-accent--blue:after {
  background-color: #005daa; }

.large-number {
  margin-left: 3em; }
  .large-number .text-accent,
  .large-number .text-accent--white {
    font-size: 416.6916012771px; }
    .large-number .text-accent:after,
    .large-number .text-accent--white:after {
      display: none; }

.bars {
  height: 400px;
  margin-right: 5em;
  position: relative;
  -ms-flex-preferred-size: 350px;
      flex-basis: 350px; }

.bars > div {
  bottom: 0;
  position: absolute;
  width: 75px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out; }

.bars--low {
  background-color: #c7c8ca;
  left: 0; }
  .bars--low.bg-blue {
    background-color: #005daa; }

.bars--high {
  background-color: #ee3224;
  right: 0; }

.map-svg--two #GA,
.map-svg--two #IN,
.map-svg--two #KS,
.map-svg--two #VA,
.map-svg--two #TN,
.map-svg--two #WI,
.map-svg--two #MS {
  fill: #005daa; }

.donate-now {
  border: solid 5px #fff;
  background-color: #005daa;
  bottom: 60px;
  color: #fff;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 24.0601503759px;
  padding: .5em 2em;
  position: absolute;
  text-transform: uppercase; }
  .donate-now:hover {
    background-color: #fff;
    color: #005daa; }

.is-animated:after {
  width: 100%; }

.wave {
  -webkit-animation: wave 2s ease-in-out 1s infinite;
          animation: wave 2s ease-in-out 1s infinite; }

@-webkit-keyframes wave {
  0% {
    bottom: 30px; }
  50% {
    bottom: 5px; }
  100% {
    bottom: 30px; } }

@keyframes wave {
  0% {
    bottom: 30px; }
  50% {
    bottom: 5px; }
  100% {
    bottom: 30px; } }
.draw:after {
  width: 100%; }

[data-aos="bar-low--one"] {
  height: 0;
  -webkit-transition-property: height;
  transition-property: height; }
  [data-aos="bar-low--one"].aos-animate {
    height: 100px; }

[data-aos="bar-high--one"] {
  height: 0;
  -webkit-transition-property: height;
  transition-property: height; }
  [data-aos="bar-high--one"].aos-animate {
    height: 400px; }

[data-aos="bar-low--two"] {
  height: 0;
  -webkit-transition-property: height;
  transition-property: height; }
  [data-aos="bar-low--two"].aos-animate {
    height: 160px; }

[data-aos="bar-high--two"] {
  height: 0;
  -webkit-transition-property: height;
  transition-property: height; }
  [data-aos="bar-high--two"].aos-animate {
    height: 500px; }

.draw--title span:after {
  width: 100%; }
