html,
body {
	max-width: 100%;
	max-height: 100%;
	overflow-y: scroll;
	 -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%; }

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; }

.container {
	overflow-y: hidden;
	overflow-x: hidden;
	position: relative;
	height: 100vgh;
	width: 100%; }

section {
	position: relative;
	display: block;
	width: 100%;
	z-index: 999;}

.section-content {
	position: relative;
	margin-top: 45px;
	padding: 25px 15px; }

@media(min-width:768px) {
.section-content {
	margin-top: 0;
	position: relative;
	padding: 25px 200px; }
	
.text {
	max-width: 360px;
	margin-right: 0;
	widows: none; }

.row {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-end; }
	
.half-img {
		max-width: 48%; }

.row-half {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center; }
}

.half-img {
	margin: 25px 0px;
}

.row {
	margin: 25px 0px; }

img {
	position: relative;
	max-width: 100%;
}

h2 {
	font-family: 'PT Sans', Arial, sans-serif;
	text-align: right;
	font-size: 18pt;
	color: #000; }

p {
	font-family: 'PT Sans', Arial, sans-serif;
	text-align: right;
	font-size: 12pt;
	color: #000; }

/*  Header */

@media(max-width:768px) {
header {
	display: none; }
}

header {
	display: visible; }

.splash-page {
	width: 100%;
	height: 100vh;
	position: relative;
	background-color: #010230;
	cursor: pointer; }

.splash-wrap {
	margin-top: 7%;
	position: absolute;
	width: 100%;
	height: 100vh;
}

.splash-content g {
	fill: none;
	stroke-width: 2;
	stroke: #eecbad;
	stroke-miterlimit: 5;
	stroke-dasharray: 10000;
	stroke-dashoffset: 10000;
	animation: draw 5s ease-in-out forwards; }
		
#papier-machine {
	stroke: #ff2d67;}

		
@keyframes draw {
			to {
				stroke-dashoffset: 20000;
			}
		}

@-webkit-keyframes draw {
			to {
				stroke-dashoffset: 20000;
			}
		}

@-moz-keyframes draw {
			to {
				stroke-dashoffset: 20000;
			}
		}

@-o-keyframes draw {
			to {
				stroke-dashoffset: 20000;
			}
		}

/* Navbar */
.main_h {
	left: 0;
  position: fixed;
  max-height: auto;
  z-index: 1001;
  width: 200px;
  background: none;
  overflow: hidden;
  font-family: 'PT Sans', Arial, sans-serif; }

nav ul a {
	background-color: none;
	color: #000;
	text-decoration: none;
	font-size: 16px; }

@media only screen (min-width:768px) {
	nav:before {
	content: 'Papier Machine';
	font-family: 'PT Sans', Arial, sans-serif;
	text-align: right;
	font-size: 16pt;
	font-weight: 700;
	margin-left: 32px;
	color: #000; }

}

@media only screen and (max-width:768px) {
.main_h {
  position: fixed;
  max-height: 45px;
  z-index: 1001;
  width: 100%;
  padding-top: 17px;
  background: none;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 1;
  top: 0;
background-color: #fff;
  padding-bottom: 6px; }
}

.open-nav {
  max-height: 400px !important;
}
.open-nav .mobile-toggle {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

@media only screen and (max-width:768px) {
.sticky {
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  top: 0px; }
}

nav {
  float: right;
  width: 100%;
}
@media(max-width: 766px) {
  nav {
    width: 100%;
  }
}
nav ul {
  list-style: none;
  overflow: hidden;
  text-align: right;
  float: right;
}
@media(max-width:766px) {
  nav ul {
    padding-top: 10px;
    margin-bottom: 22px;
    float: left;
    text-align: right;
    width: 100%;
  }
}

nav ul li {
	width: 160px;
	text-indent: 0;
	text-align: left;
  	margin-left: 55px;
  	line-height: 1.5; }

li {
	padding-top: 20px;
	border-bottom: solid 1px transparent;
	transition: border .4s ease-in;
	-webkit-transition: border .4s ease-in;
	-moz-transition: border .4s ease-in;
	-o-transition: border .4s ease-in;
}

li:hover,
li:hover:focus {
	border-bottom: solid 1px #ff2d67;} 

@media(max-width: 766px) {
  nav ul li {
	  width: 100%;
	  background-color: #fff;
	  padding: 15px 0;
	  margin: 0;
  }
}
.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 25px;
  width: 35px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
@media(max-width: 766px) {
  .mobile-toggle {
    display: block;
  }
}
.mobile-toggle span {
  width: 35px;
  height: 2px;
  margin-bottom: 6px;
  background: #000;
  display: block;
}

/* Home */
@media(max-width:768px) {
.svg-img-1,
.svg-img-2,
.svg-img-3,
.svg-img-4 {
	display: none;} 
}

@media(min-width:768px) {
.svg-img-1,
.svg-img-2,
.svg-img-3,
.svg-img-4 {
	display: visible; } 

.svg-img-1 {
	width: 55%;
	position: absolute;
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	left: -150px;}

.svg-img-2 {
	width: 35%;
	position: absolute;
	bottom: 300px;
	left: -150px;
	transform-origin: bottom;
	transform: rotate(13deg); } 

.svg-img-3 {
	width: 15%;
	position: absolute;
	bottom: 900px;
	right: -15px;} 
	
.svg-img-4 {
	width: 25%;
	position: absolute;
	top: 0;
	left: -300px;
	transform-origin: bottom;
	transform: rotate(45deg);} 
}

/* Contact */
@media(min-width:768px){
#contact,
#about {
	position: relative;
	height: 100vh;
	width:100%; }
}

.svg-img {
	position: absolute;
	left: -100px;
	width: 60%;
	bottom: -50px; }

.contact-info {
	font-family: 'PT Sans', Arial, sans-serif;
	text-align: right;
	font-size: 12pt; }

.contact-info a {
	color: #000;
	font-weight: 700;
	text-decoration: none;
	transition: all .4s ease-in;
	-webkit-transition: all .4s ease-in;
	-moz-transition: all .4s ease-in;
	-o-transition: all .4s ease-in; }

.contact-info a:hover,
.contact-info a:hover:focus {
	color: #ff2d67;
}

.social-icons {
	margin-top: 35px; }

@media only screen and (max-width:768px){
	.social-icons {
		width: 100%;
		text-align: right;
	}
}

.social-icons svg {
	width: 40px;
	fill: none;
	margin-left: 30px;
	stroke-width: 5px; }

.social-icons a {
	text-decoration: none; }

.social-icons a:hover,
.social-icons a:hover:focus {
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	animation: dash 3s ease-in-out forwards; }

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@-moz-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@-o-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

#instagram {
	stroke: #feae8c; }
#facebook {
	stroke: #ff2d67; }

#twitter {
	stroke: #888fcf; }

.slideUp{
	animation-name: slideUp;
	-webkit-animation-name: slideUp;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;

	visibility: visible !important;			
}

@keyframes slideUp {
	0% {
		transform: translateY(100%);
	}
	50%{
		transform: translateY(-8%);
	}
	65%{
		transform: translateY(4%);
	}
	80%{
		transform: translateY(-4%);
	}
	95%{
		transform: translateY(2%);
	}			
	100% {
		transform: translateY(0%);
	}	
}

@-webkit-keyframes slideUp {
	0% {
		-webkit-transform: translateY(100%);
	}
	50%{
		-webkit-transform: translateY(-8%);
	}
	65%{
		-webkit-transform: translateY(4%);
	}
	80%{
		-webkit-transform: translateY(-4%);
	}
	95%{
		-webkit-transform: translateY(2%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}

@-moz-keyframes slideUp {
	0% {
		-webkit-transform: translateY(100%);
	}
	50%{
		-webkit-transform: translateY(-8%);
	}
	65%{
		-webkit-transform: translateY(4%);
	}
	80%{
		-webkit-transform: translateY(-4%);
	}
	95%{
		-webkit-transform: translateY(2%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}
